# large files
*.FIT
*.fit
*.FITS
*.fits
*.gz
*.tar

/__pycache__
*.xml
*.csv
*.json

# uv files
uv.lock
.python-version

# logs and log dirs
*.log
/logs
*_output_*/

# build artifacts
*.egg-info/
build/
dist/

# unused files
unused/*
